<div class="container">
    <div class="page-wrapper">
        <section>
            <h2>Trusted by companies of all sizes</h2>

            <div class="companies">
                <img src="assets/img/com_airbnb.svg">
                <img src="assets/img/com_hubspot.svg">
                <img src="assets/img/com_google.svg">
                <img src="assets/img/com_microsoft.svg">
                <img src="assets/img/com_walmart.svg">
                <img src="assets/img/com_fedex.svg">
            </div>
        </section>
    </div>
</div>