<div class="page-wrapper">
    <section>
        <div class="newsletter">
            <h1 class="title">Newsletter</h1>
            <p>Subscrible our newsletter for discounts, promo and many more.</p>
            <div class="form">
                <input name="email" type="email" placeholder="Your Email*">
                <button class="btn">Send</button>
            </div>
        </div>
        <div class="illustration">
            <img class="image" src="assets/img/newsletter-illust.png">
            <div class="decoration">
                <p>FREE FOR<br>NEW USERS</p>
            </div>
        </div>
    </section>
</div>