<footer>
    <div class="page-wrapper grid-container">
        <div class="title-and-links company">
            <h3 class="title">Company</h3>
            <ul class="list">
                <li>About us</li>
                <li>Blog</li>
                <li>Contact us</li>
                <li>Pricing</li>
                <li>Tesctimonials</li>
            </ul>
        </div>
        <div class="title-and-links support">
            <h3 class="title">Support</h3>
            <ul class="list">
                <li>Help center</li>
                <li>Terms of service</li>
                <li>Legal</li>
                <li>Privacy policy</li>
                <li>Status</li>
            </ul>
        </div>
        <div class="email-subscription">
            <h3 class="title">Stay up to date</h3>
            <div class="form">
                <input type="email" placeholder="Your email address">
                <button><img src="assets/img/paper-plane.svg"></button>
            </div>
        </div>
        <div class="logo-and-media">
            <div class="logo">
                <div class="logo-image">
                    <span class="text">N</span>
                </div>
                <p class="logo-text">Sinau Inc</p>
            </div>
            <p>Level up your skills, and get<br>dream job with passion.</p>
            <div class="social-media">
                <a href=""><img src="assets/img/instagram.svg"></a>
                <a href=""><img src="assets/img/globe.svg"></a>
                <a href=""><img src="assets/img/twitter.svg"></a>
                <a href=""><img src="assets/img/youtube.svg"></a>
            </div>
        </div>
        <div class="caption">
            <p>Designed with ❤️ by Sinau design</p>
        </div>
    </div>
</footer>