

.mentors{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 19.5px;
}

@media screen and (min-width: 530px){
    .mentors{
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}

@media screen and (min-width: 650px){
    section{
        margin-top: 15px;
    }

    .top{
        display: flex;
    }

    .title{
        flex: 1 1 auto;
    }
    .title br{
        display: inline;
    }

    .top .more-btn{
        flex: 0 0 auto;
        display: block;
        align-self: center;
    }
}

@media screen and (min-width: 800px){
    .mentors{
        grid-template-columns: repeat(3 ,1fr);
    }
}

@media screen and (min-width: 850px){
    section{
        margin-top: 80px;
    }
}

@media screen and (min-width: 1210px){
    section{
        margin-top: 120px;
    }
}