:host{
    display: block;
    overflow: hidden;
    padding-bottom: 100px;
    margin-bottom: -100px;
}

.card-container{
    width: fit-content;
    position: relative;
    display: flex;
    margin: 24px 0;
    gap: 25px;
    user-select: none;
}

@media screen and (min-width: 650px){
    section{
        display: grid;
        grid-template:
            "title btn"
            "tabs btn"
            "cards cards" 
            / 1fr 196px;
    }

    h2{
        grid-area: title;
    }
    app-tabs{
        grid-area: tabs;
    }
    .card-container{
        grid-area: cards;
    }
    .btn{
        grid-area: btn;
        align-self: center;
    }
}