<div class="page-wrapper">
    <header>
        <div class="logo">
            <span class="text">S</span>
        </div>
        <div class="menu-panel-wrapper">
            <div 
                class="menu-panel"
                [class.menu-open]="menuOpen"
            >
                <ul class="links">
                    <li><a href="#"><span>Home</span></a></li>
                    <li><a href="#"><span>Curses</span></a></li>
                    <li><a href="#"><span>Mentor</span></a></li>
                    <li><a href="#"><span>Group</span></a></li>
                    <li><a href="#"><span>Testimonial</span></a></li>
                </ul>
                <ul class="auth-panel">
                    <a routerLink="login">
                        <li class="sign-in"><span>Sign</span></li>
                    </a>
                    <a routerLink="registration">
                        <li class="sign-up"><span>Sign Up</span></li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="menu-btn-container">
            <div 
                class="menu-btn"
                [class.menu-open]="menuOpen"
            >
                <img (click)="onMenuClick()"
                    src="assets/fontawesome/svg/bars.svg" 
                    alt="Menu"
                >
            </div>
        </div>
    </header>
</div>