@font-face {
    font-family: Inter;
    src: url('src/assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
    font-family: Raleway;
    font-style: normal;
    src: url('src/assets/fonts/Raleway-VariableFont_wght.ttf')
}
@font-face {
    font-family: Raleway;
    font-style: italic;
    src: url('src/assets/fonts/Raleway-Italic-VariableFont_wght.ttf')
}